/* TODO: Make it awesome */


 html {
  background-image: url(../img/Blackbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
    
}

nav {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav li {
  border: 2px solid red;
  background-color: rgb(42, 202, 251);
  border: 2px solid rgb(113, 222, 255);
  border-radius: 20px;
  display: inline-block;
  align-items: center;
  text-align: center;
  padding: 10px;

}

nav li a {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}


body {

}


header {
  font-size: 40px;
  padding: 10px;

}

