/* TODO: Make it awesome */


 html {
  background-image: url(../img/whitebackground.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

header {
  font-size: 48px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  padding: 10px;

}

main h1 {
  margin-bottom: 50px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 15px;
}

nav li {
  font-size: 24px;
  background-color: rgb(78, 162, 201, 0.757);
  border: 2px solid rgb(178, 226, 248);
  border-radius: 15px;
  display: inline-block;
  padding: 10px;

}

nav li a {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}


body {
  padding: 15px;
  margin: 10px;
}

fieldset {
  margin-top: 25px;

} 

fieldset legend {
  margin-bottom: 25px;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
} 

fieldset label {
  font-size: 25px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
} 

fieldset label #items, #quantity {
  font-size: 25px;
  padding: 15px;
  color: white;
  background-color: rgb(6, 77, 122)
}

fieldset label #items:hover, #quantity:hover {
  transition: .1s;
  background-color: rgb(11, 124, 194)
}

.copy input[type="submit"] {
  background-color:rgb(4, 199, 52);
  color: rgb(254, 255, 254);
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border: double rgb(1, 210, 53);
}

.copy input[type="submit"]:hover {
background-color: rgb(5, 227, 60);
transition: .1s;
}


main {
  background-color: rgba(82, 160, 197, 0.5);
  padding: 25px;
  margin: 10px;
  border: 4px solid rgb(78, 162, 201);
}

footer {
  background-color: rgba(76, 159, 197, 0.757);
  padding: 25px;
  margin: 10px;
  border: 4px solid rgb(78, 162, 201)
}

